.navbarNavAuthentication {
    background-color:#575352;
}

.mainNavbarNav{
    background-color:rgb(241, 240, 237);
    font-size: 50px;
    color:white;
}

.baseContent{
    max-height: 100vh;
    left:0;
    padding:0px;
}

.main-image{
    background: url("/static/images/piano-rose.jpg");
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;    
    height:750px;
}

.navbar-home{
    font-size:50px;
}

#footer{
    width:100%;
    height:50px;
    position:fixed;
    bottom:0;
    left:0;
    background-color: black;
}



.shareCard {
    background-color:rgb(233, 230, 230);
}

#playButton {
  float: left; 
  margin-top: 12px;
  cursor: pointer; }

#stopButton {
  float: left; 
  margin-top: 12px;
  cursor: pointer;
padding-left:6px; }




/* Media Queries for screen sizes */

@media screen and (max-width: 1024px){
.main-image{
        padding-right: 0px;
		object-fit: cover;
		height: 1200px;
        background-position-x: 20%;
}
}

@media screen and (max-width: 768px){

.main-image{
		height: 780px;
}
}

@media screen and (max-width: 640px) {

    .main-image{
		height: 650px;
}

}

@media screen and (max-width: 540px) {
     .main-image{
		height: 530px;
}

}

@media screen and (max-width: 480px) {
    .main-image{
		height: 500px;
}

}

@media screen and (max-width: 411px) {
    .main-image{
		height: 450px;
}
}

@media screen and (max-width: 320px) {
        .main-image{
		height: 350px;
}
}

@media screen and (max-width: 280px) {
        .main-image{
		height: 400px;
}
}

