{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
<div class="row d-flex text-center space-below-navbar">
   &nbsp;
</div>
<h3 class="d-flex justify-content-center text-center">Update review</h3>
<!--Review Cards-->
<div class="row d-flex justify-content-center text-center">
   <div class="card col-9 col mb-4">
      <form method="POST" action="{{url_for('edit_review', review_id=reviews._id)}}"
         enctype="multipart/form-data">
         &nbsp;
         <!--text box for user to write review-->
         <textarea class="form-control" name="reviewText" id="reviewText"
            rows="8">{{reviews.reviewtext}}</textarea>
         <div class="row d-flex justify-content-center text-center ">
            <a href="{{url_for('review_page')}}" type="submit" class="btn btn-danger shareButton"><i class="fas fa-arrow-alt-circle-left"></i> Go Back</a>
            <div>&nbsp;</div>
            <!--Submit review to mongoDB-->
            <button class="btn btn-primary submitReview" type="submit" role="button"><i class="fas fa-check-circle"></i> Update Review</button>
         </div>
      </form>
   </div>
</div>
{% endblock %}