{% extends "base.html" %}
{% block content %}
<!--Background Image-->
<div class="main-image">
   &nbsp;
   <div class="container-fluid">
      <div class="homeTitle">
         <div class="row d-flex justify-content-center text-center">
            <h1>MelodyNest</h1>
         </div>
         <div class="row d-flex justify-content-center text-center">
            <h2>A home for musicians to share their talents</h2>
         </div>
      </div>
   </div>
</div>
<!--Title-->
<!--Information Panel-->
<div class="container-fluid">
   <div class="row info-panel">
      <div class="col col-md-4 circle-image left-circle">
         <img src="static/images/piano-perform.png" width="183" height="174" alt="piano-perform" />
         <p class="uploading-info">Upload your performances so that other users can listen to you play.</p>
      </div>
      <div class="col col-md-4 circle-image middle-circle">
         <img src="static/images/sheet-music.png" width="183" height="174" alt="sheet-music" />
         <p class="composing-details">Share your compositions or your arrangements with other users.</p>
      </div>
      <div class="col col-md-4 circle-image right-circle">
         <img src="static/images/guitar-perform.png" width="183" height="174" alt="guitar-perform" />
         <p class="shared-details">Download and play the music that other Musicians have uploaded.</p>
      </div>
      <div class="container-fluid">
         <div class="row d-flex text-center footer-row">
            &nbsp;
         </div>
      </div>
   </div>
</div>
{% endblock %}