{% extends "base.html" %}
{% block content %}


<div class="main-image">
    &nbsp;
</div>

<div class="homeTitle">
    <h1>Melody Nest</h1>
    <h2>A home for musicians to share their talents</h2>
</div>

<section>
    <div class="container-fluid">
        <div class="row info-panel">
            <div class="col col-md-4 circle-image left-circle">
                <img src="static/images/piano-perform.png" width="183" height="174" alt="piano-perform" />
                <p class="uploading-info">Upload your performances</p>
            </div>
            <div class="col col-md-4 circle-image middle-circle">
                <img src="static/images/sheet-music.png" width="183" height="174" alt="sheet-music" />
                <p class="composing-details">Share your compositions or your arrangements</p>
            </div>
            <div class="col col-md-4 circle-image right-circle">
                <img src="static/images/guitar-perform.png" width="183" height="174" alt="guitar-perform" />
                <p class="shared-details">Play what other Musicians have shared</p>
            </div>
            <div class="container-fluid">
                <div class="row d-flex text-center footer-row">
                    &nbsp
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}