{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row d-flex text-center space-below-navbar">
        &nbsp
    </div>

    <h3 class="d-flex justify-content-center">Profile Pages</h3>


{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="col d-flex justify-content-center bg-primary">
            <h4 class="center-align">{{ message }}</h4>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!--Profile cards-->
    <div class="container-fluid">
        <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 d-flex justify-content-center text-center">

            {% for data in profile %}
            <div class="card card-music col mb-4">
                {% if session.user == "admin" %}
                <!--If this is the user that created the piece, delete or edit the piece of music-->
                <a href="{{ url_for('delete_user', profile_id=data._id) }}" class="btn btn-small btn-orange ">Delete</a>
                <a href="{{url_for('admin_change_password', profile_id=data._id)}}" class="btn btn-small btn-primary">Change Password</a>
                {% endif %}
                <div class="row">
                    <!--Profile Image-->
                    <img src="{{ url_for('file', filename=data.image)}}" class="card-img-top border col-5"
                        style="width:10rem;" alt="{{ data.image }}">
                    <!--Username-->
                    
                    <a href="{{ url_for('view_profiles', user_id=data._id) }}" class="card-text col-7">
                        {{ data.username }}</a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>


    {% endblock %}