{% extends "base.html" %}
{% block content %}


<h3 class="d-flex justify-content-center">Music Share</h3>
<h4 class="d-flex justify-content-center">A place to share music with others</h4>

<div class="row">
    <div class="col text-center">
        {% for piece in music %}
        <div class="card musicCard" style="width: 18rem;">
        <img src="{{piece.image}}" class="card-img-top border " style="height:10rem;" alt="">
        <div class="card-body">
            <h5 class="card-title">{{ piece.title}} </h5>
            <p class="card-text">{{ piece.artist }}</p>
            <p class="card-text">{{ piece.genre }}</p>
            <p class="card-text">Performed by: {{ piece.user }}</p>
            <a href="#" class="btn btn-primary">Sheet Music</a>
        </div>        
        </div>
    {% endfor %}
    </div>
</div>



{% endblock %}