{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row d-flex text-center space-below-navbar">
        &nbsp;
    </div>
</div>

<h3 class="d-flex justify-content-center">Review for {{reviews.title}}</h3>


<!--Review Cards-->
<div class="row d-flex justify-content-center text-center">
    <div class="card col-9 col mb-4">
        <form method="POST" action="{{url_for('write_review', reviews_id=reviews._id)}}" enctype="multipart/form-data">
            &nbsp;
            <!--text box for user to write review-->
            <textarea class="form-control" name="reviewText" id="reviewText" rows="8">{{reviewtext}}</textarea>
            <div class="row d-flex justify-content-center text-center ">
                <!--Submit review to mongoDB-->
                <button class="btn btn-success submitReview" type="submit" role="button">Submit Review</button>

            </div>
        </form>
    </div>
</div>

{% endblock %}